@model Product

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Kabuwler</h1>
        <br />
        <form asp-controller="Home" asp-action="ShowProducts">
            <p>
                <input id="CrawlerText" type="text">
                <button class="btn btn-danger" onclick="checkValue()">Crawl</button>
            </p>
        </form>
        <p class="lead text-muted">Crawling fast your product in the KABUM site</p>
    </div>
</section>
@section Scripts{
    <partial name="_Scripts" />
}
